body {
    margin: 0;
    overflow: hidden;
    background: black;
    color: white;
    font-family: Arial;
}

#start-screen, #game-over {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20;
    display: none;
}

#start-screen { display: flex; }

#start-btn, #restart-btn {
    padding: 20px 40px;
    font-size: 28px;
    background: red;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

#game-over h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

#hud {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 5;
}

#gameCanvas {
    width: 100vw;
    height: 100vh;
    display: block;
}
